<%= simple_form_for [:admin, @article] do |f| %>
  <div class="box-body">          
      <div class="form-group">
        <%= f.input :title, input_html: {class: "form-control"} %>
      </div>
      <div class="form-group">
        <%= f.input :seo_title, input_html: {class: "form-control"} %>
      </div>
      <div class="form-group">
        <%= f.input :keywords, input_html: {class: "form-control"} %>
      </div>
      <div class="form-group">
        <%= f.input :description, input_html: {class: "form-control"} %>
      </div>
      <div class="form-group">
        <%= f.input :six_category_id, as: :select,  collection: Article.categories["six"], selected: @article.six_category_id, input_html: {class: "form-control"} %>
      </div>
      <div class="form-group">
        <%= f.input :wp_category_id, as: :select,  collection: Article.categories["wp"], selected: @article.wp_category_id, input_html: {class: "form-control"} %>
      </div>
      
      <div class="form-group">
        <%= f.input :content, as: :ckeditor, input_html: { ckeditor: { toolbar: 'Full', language: 'zh-CN', height: 600 }} %>
      </div>

  </div>

  
  <div class="box-footer">
    <%= f.button :submit, class: 'btn btn-warning' %>
  </div>
<% end %>

