    <header class="main-header">
        <!-- Logo -->
        <a href="" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini">CPA</span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>CPA</b></span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li><a href="javascript:void(0);"><%= current_account.email %></a></li>
                <li><%= link_to '安全退出', [:destroy, :account, :session], method: "delete" %></li>
            </ul>
          </div>
        </nav>
      </header>
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->


          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">

            <% if policy(:agent).display? %>
            
            <li class="<%= is_active(controller_name, ['users'])%> treeview">
              
              <a href="#">
                <i class="fa fa-users"></i> <span>会员管理</span> <i class="fa fa-angle-left pull-right"></i>
              </a>
              
              <ul class="treeview-menu">

              <%= active_link_to admin_users_path, wrap_tag: :li do %>
                <i class="fa fa-circle-o "></i><span> 会员列表</span>
              <%end%>
        
              </ul>
            </li>
            
            
        

              <li class="<%= is_active(controller_name, ['applies'])%> treeview">
              
              <a href="#">
                <i class="fa fa-paper-plane"></i> <span>申请管理</span> <i class="fa fa-angle-left pull-right"></i>
              </a>
              
              <ul class="treeview-menu">

              <%= active_link_to admin_applies_path, wrap_tag: :li do %>
                <i class="fa fa-circle-o "></i><span> 申请列表</span>
              <%end%>
        
              </ul>
            </li>


              <li class="<%= is_active(controller_name, ['banners'])%> treeview">
              
              <a href="#">
                <i class="fa fa-picture-o"></i> <span>封面图管理</span> <i class="fa fa-angle-left pull-right"></i>
              </a>
              
              <ul class="treeview-menu">

              <%= active_link_to admin_banners_path, wrap_tag: :li do %>
                <i class="fa fa-circle-o"></i><span> 封面图列表</span>
              <%end%>
        
              </ul>
            </li>
            
            
          



            <li class="<%= is_active(controller_name, ['credit_card', 'issuers'])%> treeview">
              
              <a href="#">
                <i class="fa fa-credit-card"></i> <span>信用卡管理</span> <i class="fa fa-angle-left pull-right"></i>
              </a>
              
              <ul class="treeview-menu">

                <%= active_link_to admin_credit_cards_path, wrap_tag: :li do %>
                  <i class="fa fa-circle-o"></i><span> 信用卡列表</span>
                <%end%>

                <%= active_link_to admin_issuers_path, wrap_tag: :li do %>
                  <i class="fa fa-circle-o"></i><span> 发卡行列表</span>
                <%end%>
        
              </ul>
            </li>
            
            
              
            

            
              
            

            
              


               


            <li class="<%= is_active(controller_name, ['orders'])%> treeview">
              
              <a href="#">
                <i class="fa fa-sticky-note"></i> <span>订单管理</span> <i class="fa fa-angle-left pull-right"></i>
              </a>
              
              <ul class="treeview-menu">

                <%= active_link_to admin_orders_path, wrap_tag: :li do %>
                  <i class="fa fa-circle-o"></i><span> 订单列表</span>
                <%end%>
        
              </ul>
            </li>
            
            
             

            <li class="<%= is_active(controller_name, ['cashs', 'commissions'])%> treeview">
              
              <a href="#">
                <i class="fa fa-money"></i> <span>财务管理</span> <i class="fa fa-angle-left pull-right"></i>
              </a>
              
              <ul class="treeview-menu">

                <%= active_link_to admin_cashs_path, wrap_tag: :li do %>
                  <i class="fa fa-circle-o"></i><span> 提现管理</span>
                <%end%>

                <%= active_link_to admin_commissions_path, wrap_tag: :li do %>
                  <i class="fa fa-circle-o"></i><span> 佣金管理</span>
                <%end%>
                
        
              </ul>
            </li>
            

            
            
            





            
            
            
            
            <!--<li><a href="<%#= admin_loans_path%>"><i class="fa fa-bank"></i> <span>贷款管理</span></a></li>-->
            
            <%end%>
           
            <% if policy(:admin).index? %>

              <li class="<%= is_active(controller_name, ['banners'])%> treeview">
              
              <a href="#">
                <i class="fa fa-handshake-o"></i> <span>代理商管理</span> <i class="fa fa-angle-left pull-right"></i>
              </a>
              
              <ul class="treeview-menu">

              <%= active_link_to admin_agents_path, wrap_tag: :li do %>
                <i class="fa fa-circle-o "></i><span> 代理商列表</span>
              <%end%>
        
              </ul>
            </li>

            <% end %>



            <li class="<%= is_active(controller_name, ['banners'])%> treeview">
              
              <a href="#">
                <i class="fa fa-dashboard"></i> <span>系统设置</span> <i class="fa fa-angle-left pull-right"></i>
              </a>
              
              <ul class="treeview-menu">

              <%= active_link_to admin_system_path, wrap_tag: :li do %>
                <i class="fa fa-circle-o "></i><span> 设置1</span>
              <%end%>
        
              </ul>
            </li>

    

           </ul>
        </section>
        <!-- /.sidebar -->
      </aside>


