<%= simple_form_for [:admin, @resource] do |f| %>
  <div class="box-body">          
      <div class="form-group">
        <%= f.input :title, input_html: {class: "form-control"} %>
      </div>

      <div class="form-group">
        <%= f.text_area :content, class: "tinymce form-control", rows: 40, cols: 120 %>
      </div>
      <div class="form-group">
        <%= f.input :status, as: :select,  collection: Resource.status.values.map { |v| [v.text, v.value] }, selected: @resource.status_value, input_html: {class: "form-control"} %>
      </div>
  </div>

  
  <div class="box-footer">
    <%= f.button :submit, class: 'btn btn-warning' %>
  </div>
<% end %>

<%= tinymce :language => "zh_CN", :plugins => ["wordcount", "paste", "image"] %>

