    <header class="main-header">
        <!-- Logo -->
        <a href="" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini">Art</span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>Art</b></span>
        </a>
        
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li><a href="javascript:void(0);"><%= current_account.email %></a></li>
                <li><%= link_to '安全退出', [:destroy, :account, :session], method: "delete" %></li>
            </ul>
          </div>
        </nav>
      </header>
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->


          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu" data-widget="tree">

            <%= active_link_to admin_root_path, wrap_tag: :li do %>
              <i class="fa fa-home"></i><span> 首页</span>
            <%end%>

              <%= active_link_to admin_articles_path, wrap_tag: :li do %>
                <i class="fa fa-file-archive-o"></i><span> 文章管理</span>
              <%end%>
  
      


           

              <%= active_link_to admin_resources_path, wrap_tag: :li do %>
                <i class="fa fa-file-zip-o"></i><span> 资源管理</span>
              <%end%>

              <%= active_link_to admin_csv_files_path, wrap_tag: :li do %>
                <i class="fa fa-file-zip-o"></i><span> 文档管理</span>
              <%end%>
      

            

           </ul>
        </section>
        <!-- /.sidebar -->
      </aside>


